@import "compass/css3";
@import "colors";
@import "fonts";

body {
	background: $color-background;
	color: $color-text;
	width: 100%;
}

img.logo {
	position: fixed;
	z-index:10;
	left: 20px;
	top: 20px;
	width: 150px;
}

ul.nav {
	@include background( linear-gradient(left, $color-nav-dark, $color-nav-light) );
	@include box-shadow($color-nav-shadow 2px 2px 10px);
	position: fixed;
	top: 0;
	left: 16px;
	margin: 0;
	padding: 0;
	padding-top: 220px;
	list-style: none;
	height: 100%;
	width: 160px;

	li {
		height: 2em;
		text-align: center;
	}

	a {
		color: $color-nav-link;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

#catch-phrase {
	position: absolute;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	top: 0;
	font-size: 50px;
}

h1 { font-size: 1.5em; margin-bottom: 20px;}

h2 { font-size: 1.2em; margin-bottom: 20px; }

div.images, #about, #pricing, #contact {
	margin: 130px 200px;
	padding: 20px;
	width: 29000px;

	img {
		float: left;
		top: 50%;
		margin-right: 20px;
		margin-bottom: 20px;
		@include box-shadow($color-nav-shadow 2px 2px 10px);
		@include border-radius(4px, 4px);
	}
}

#about, #pricing, #contact {
	width: auto;
	
	p {
		margin: 20px 0;
	}

	ul {
		list-style: circle;
		margin-left: 40px;
		margin-bottom: 20px;
	}
}

#contact input, #contact textarea {
	display: block;
	margin-bottom: 20px;
}

