$color-dark-red: #331411;
$color-really-dark-red: #271411;
$color-tan: #f6f1db;

$color-background: $color-tan;
$color-text: $color-dark-red;
$color-nav-dark: $color-really-dark-red;
$color-nav-light: $color-dark-red;
$color-nav-shadow: #000;
$color-nav-link: $color-tan;
