@font-face {
    font-family: 'spirequalLightRegular';
    src: url('spireq_l-webfont.eot');
    src: url('spireq_l-webfont.eot?#iefix') format('embedded-opentype'),
         url('spireq_l-webfont.woff') format('woff'),
         url('spireq_l-webfont.ttf') format('truetype'),
         url('spireq_l-webfont.svg#spirequalLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#catch-phrase {
	font-family: "spirequalLightRegular";
}
