<ul id="nav">
	{% if page.route_name == 'home' %}
		<li class="selected"><a href="/">Home</a></li>
	{% else %}
		<li><a href="/">Home</a></li>
	{% endif %}

	{% if page.route_name == 'about' %}
		<li class="selected"><a href="/about.html">About</a></li>
	{% else %}
		<li><a href="/about.html">About</a></li>
	{% endif %}

	{% if page.route_name == 'pricing' %}
		<li class="selected"><a href="/pricing.html">Pricing</a></li>
	{% else %}
		<li><a href="/pricing.html">Pricing</a></li>
	{% endif %}

	{% if page.route_name == 'contact' %}
		<li class="selected"><a href="/contact.html">Contact</a></li>
	{% else %}
		<li><a href="/contact.html">Contact</a></li>
	{% endif %}

	{% if page.route_name == 'blog' %}
		<li class="selected"><a href="/blog/">Blog</a></li>
	{% else %}
		<li><a href="/blog/">Blog</a></li>
	{% endif %}

	<li><a href="http://masonjarphoto.smugmug.com/clients" target="_blank">Clients</a></li>

</ul>
