<div id="header">
	<img id="logo" src="/images/jar3.png" alt="Mason Jar Photography"/>
	<ul id="nav">
		{% if page.name == 'gallery' %}
			<li class="selected"><a href="/"><img alt="Gallery" src="/images/links_gallery2.png"/></a></li>
		{% else %}
			<li><a href="/"><img alt="Gallery" src="/images/links_gallery2.png"/></a></li>
		{% endif %}

		{% if page.name == 'about' %}
			<li class="selected"><a href="/about.html"><img alt="About" src="/images/links_about2.png"/></a></li>
		{% else %}
			<li><a href="/about.html"><img alt="About" src="/images/links_about2.png"/></a></li>
		{% endif %}

		{% if page.name == 'pricing' %}
			<li class="selected"><a href="/pricing.html"><img alt="Pricing" src="/images/links_pricing2.png"/></a></li>
		{% else %}
			<li><a href="/pricing.html"><img alt="Pricing" src="/images/links_pricing2.png"/></a></li>
		{% endif %}

		{% if page.name == 'contact' %}
			<li class="selected"><a href="/contact.html"><img alt="Contact" src="/images/links_contact2.png"/></a></li>
		{% else %}
			<li><a href="/contact.html"><img alt="Contact" src="/images/links_contact2.png"/></a></li>
		{% endif %}

	</ul>
</div>
