<div id="header">
	<img id="logo" src="/images/jar3.png" alt="Mason Jar Photography"/>
	<ul id="nav">
		<!--
		<li><a href="/"><img alt="Gallery" src="/images/links_gallery.png"/></a></li>
		<li><a href="/about.html"><img alt="About" src="/images/links_about.png"/></a></li>
		<li><a href="/pricing.html"><img alt="Pricing" src="/images/links_pricing.png"/></a></li>
		<li><a href="/contact.html"><img alt="Contact" src="/images/links_contact.png"/></a></li>
		-->

		<li><a href="/"><img alt="Gallery" src="/images/links_gallery2.png"/></a></li>
		<li><a href="/about.html"><img alt="About" src="/images/links_about2.png"/></a></li>
		<li><a href="/pricing.html"><img alt="Pricing" src="/images/links_pricing2.png"/></a></li>
		<li><a href="/contact.html"><img alt="Contact" src="/images/links_contact2.png"/></a></li>
	</ul>
</div>
