/* Colors:
 *	gold: #C9B065;
 *	cream-white: #fffefa;
 *	grey: #7F7966;
 *	dark-grey: #3f3c32;
 */

html {
	margin: 0;
	padding: 3em;
	padding-top: 4em;
	background-image: url("/images/bg.png");
	min-width: 300px;
}

body {
	font-family: Palatino, Georgia, sans-serif;
	font-weight: 100;
	line-height: 1.6em;
	color: #3f3c32;

	margin: 0;
	padding: .5em;
	background: #fffefa;
	border: 1px solid #FFF2CD;

	-webkit-box-shadow: 0px 10px 14px 8px rgba(127,121,102,0.5);
	-moz-box-shadow: 0px 10px 14px 8px rgba(127,121,102,0.5);
	box-shadow: 0px 10px 14px 8px rgba(127,121,102,0.5);
}

/********************************************************************
 * Navigation
********************************************************************/
#nav {
	position: fixed;
	z-index: 10;
	margin-top: 0;
	top: 0;
	left: 0;
	right: 0;

	font-size: .85em;
	padding: .8em;
	line-height: 1.6em;
	
	color: #fffefa;
	background: #3f3c32;
	list-style: none;
	text-align: center;

	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

#nav li {
	display: inline-block;
	margin: 0 2em;
}

#nav a {
	color: #fffefa;
	text-decoration: none;
	font-variant: small-caps;
}

#nav a:hover { color: #C9B065; }

#nav .selected a { text-decoration: underline; color: #C9B065; }


/********************************************************************
 * Header Elements
********************************************************************/
#logo {
	display: block;
	position: relative;
	z-index: 4;
	max-width: 540px;
	width: 90%;
	margin: auto;
	background: none;
	border: none;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#slogan {
	text-align: center;
}

/********************************************************************
 * Footer Elements
********************************************************************/
.pagination {
	text-align: center;
	font-size: .8em;
}

.pagination .next, .pagination .prev {
	margin: 1em;
}

#copyright {
	font-size: .8em;
	text-align: right;
	margin-top: 3em;
	margin-bottom: -3em;
}


/********************************************************************
 * Page Elements
********************************************************************/
#page {
	margin: 0;
	padding: 3em;

	border: 3px solid #C9B065;
	background: #fffefa;
}

#page a {
	color: #C9B065;
	text-decoration: none;
}

#page a:hover { text-decoration: underline; }

#page h1 {
	text-align: center;
	margin-top: 1em;
	font-weight: 100;
}

#page h1:before, #page h1:after {content: " - ";}

#page h2 {
	font-weight: 100;
}

#page .date {
	display: block;
	text-align: center;
	margin-top: -1em;
}


/********************************************************************
 * Content Elements
********************************************************************/
#content {
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
}

#content p {
	margin-bottom: 2em;
}

#content img {
	display: block;
	margin: 3em auto;
	max-width: 95%;
}
