/* Colors:
 *	cream: #f6f1db
 *	blue: #409ca7
 *	brown: #68370b
 *	dark-brown: #2f1f1d
 */


@font-face {
  font-family: 'spirequalLightRegular';
  src: url("spireq_l-webfont.eot");
  src: url("spireq_l-webfont.eot?#iefix") format("embedded-opentype"), url("spireq_l-webfont.woff") format("woff"), url("spireq_l-webfont.ttf") format("truetype"), url("spireq_l-webfont.svg#spirequalLightRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	background: #2f1f1d url(/images/bg.jpg);
	color: #f6f1db;
}

#header {
	width: 100%;
	text-align: center;
	padding-top: 20px;

	-webkit-box-shadow: #000 0 5px 30px;
	-moz-box-shadow: #000 0 5px 30px;
	box-shadow: #000 0 5px 30px;

	border-bottom: 1px solid #ddd;
	color: #331411;
	background: #f6f1db;
}

#logo {
	width: 350px;
	margin: auto;
}

#nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li {
	display: inline;
	padding: 0 32px;
	overflow: hidden;
	height: 40px;
	margin-bottom: 10px;
}

#nav li.selected {
	/*
	border: 1px solid white;
	*/
}

#nav a {
	position: relative;
	z-index: 20;
	text-decoration: none;
	color: #f6f1db;
}

#nav a:hover {
	text-decoration: underline;
}

#catch-phrase {
	position: relative;
	font-family: "spirequalLightRegular";
	text-align: center;
	font-size: 50px;
	padding: 20px;

	color: #F6F1DB;
	z-index: 2;
}

#images img, #content img {
	position: relative;

	/*
	-webkit-box-shadow: #331411 0 0 30px;
	-moz-box-shadow: #331411 0 0 30px;
	box-shadow: #331411 0 0 30px;
	*/

	-webkit-box-shadow: #000 0 0 130px;
	-moz-box-shadow: #000 0 0 130px;
	box-shadow: #000 0 0 130px;

	border: 5px solid #fff;

	display: block;
	margin: 40px auto;
	
	max-width: 90%;
}

#content img.header {
	border: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	margin: 40px 0 0 0;
}

#content {
	margin: auto;
	padding: 20px 40px 60px 40px;
	max-width: 720px;
}

#about img.artist {
	float: right;
	margin: 0 40px 40px 40px;
}

#contact label {
	display: block;
}

#contact input, #contact textarea {
	margin-bottom: 20px;
}
