<!DOCTYPE html>
<html>
	<head>
		<title>Mason Jar Photography - Let Me Be Your Mason Jar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/base.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/wide.css" media="screen and (min-width:600px)"/>

		{% include analytics.html %}
	</head>
	<body>
			{% include header_nav.html %}

			<div id="content">
				<div id="{{page.name}}">
					{{content}}
				</div>
			</div>
	</body>
</html>
