<!DOCTYPE html>
<html>
	<head>
		<title>Mason Jar Photography - Let Me Be Your Mason Jar</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/base.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/wide.css" media="screen and (min-width:720px)"/>
	</head>
	<body>
			<div id="header">
				<img id="logo" src="/images/jar.png" alt="Mason Jar Photography"/>
				<ul id="nav">
					<li><a href="/">Gallery</a></li>
					<li><a href="/about.html">About</a></li>
					<li><a href="/pricing.html">Pricing</a></li>
					<li><a href="/contact.html">Contact</a></li>
				</ul>
			</div>

			<div id="content">
				<div id="{{page.name}}">
					{{content}}
				</div>
			</div>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	</body>
</html>
