<!DOCTYPE html>
<html>
	<!-- comment -->
	<head>
		<title>Mason Jar Photography - Let Me Be Your Mason Jar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/base.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/wide.css" media="screen and (min-width:600px)"/>
	</head>
	<body>
			{% include header_nav.html %}

			<div id="images">
				<div id="catch-phrase">Your moments are like fireflies...<br/>let me be your mason jar.</div>

				{{content}}
			</div>
		</div>
	</body>
</html>
